
Backend/.venv


Frontend/multitool/logs
Frontend/multitool/*.log
Frontend/multitool/npm-debug.log*
Frontend/multitool/yarn-debug.log*
Frontend/multitool/yarn-error.log*
Frontend/multitool/pnpm-debug.log*
Frontend/multitool/lerna-debug.log*

Frontend/multitool/node_modules
Frontend/multitool/dist
Frontend/multitool/dist-ssr
Frontend/multitool/*.local

Frontend/multitool/.vscode/*
Frontend/multitool/!.vscode/extensions.json
Frontend/multitool/.idea
Frontend/multitool/.DS_Store
Frontend/multitool/*.suo
Frontend/multitool/*.ntvs*
Frontend/multitool/*.njsproj
Frontend/multitool/*.sln
Frontend/multitool/*.sw?
